body {
    background: #2A7B9B;
    background: radial-gradient(circle, rgba(42, 123, 155, 1) 0%, rgba(89, 227, 146, 1) 89%, rgba(237, 221, 83, 1) 100%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.img-mia {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.iconos {
    width: 30px; /* Reducir el tamaño de los iconos */
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

.titulo {
    color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    border-top: 10px;
    font-size: 25px;
}

li {
    display: inline-block;
    vertical-align: middle; /* Alineación vertical de los elementos */
}

.lista {
    
    align-items: center; /* Centrar el contenido verticalmente */
    background-color: rgb(236, 196, 146);
    margin-top: 20px;
    border-radius: 37px;
    width: 50%;
    gap: 10px;
    padding: 10px;
    font-size: 20px; /* Aumentar el tamaño de la letra */
}

.lista p{
    margin-left: 170px;
}
.lista img {
    width: 25px; /* Reducir el tamaño de los iconos en la lista */
    
}


