h1{
    text-align: center;
    color:aliceblue;
    font-family: 'Roboto Slab';
}
h2{
    color:rgb(202, 111, 30);
    font-family: 'Roboto Slab';
}


p{
    color:aliceblue;
    font-family: "Roboto Condensed", sans-serif;  
    
}

td{color:aliceblue;
    font-family: "Roboto Condensed", sans-serif;
    background-color: rgb(86, 101, 115  );
    
}

body{
    background-color: rgb(28, 40, 51);
    margin:0;
    padding: 0;
    
}
footer {
        background-color: #222;
        text-align: center;
        padding: 1px;
        align-items: center;
        font-family: "Roboto Condensed", sans-serif; 
        width: 100%;
       
    }

.contenedor {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        margin-top: 120px;
        
    }

table {
        border: 3px solid rgb(235, 127, 32);
        width: 50%;
        text-align: center;
        border-collapse: collapse;
        animation: fadeIn 1s ease-in-out;
    }
nav{
        height: 70px;
        background-color: rgb(202, 111, 30);
        transition: transform 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

td:hover {
background-color: rgba(82, 190, 128);
transition: background-color 0.3s ease-in-out;
}

.imagen-container {
        text-align: center;
        animation: fadeIn 1s ease-in-out;
    }

.imagen-mia{
        animation: fadeIn 1s ease-in-out;
    transition: transform 0.3s ease-in-out;
    width:200px;
    }
.imagen-mia:hover {
        transform: scale(1.1);
    }

.imagen-lateral {
        width: 400px;
        height: auto;
        border: solid 5px rgb(202, 111, 30);
        transition: transform 0.3s ease-in-out;
        margin-bottom: 11px;
    }

.imagen-lateral:hover {
        transform: scale(1.1);
    }
.imagen-quiz {
        width: 400px;
        height: auto;
        transition: transform 0.3s ease-in-out;
        margin-bottom: 11px;
    }
.imagen-quiz:hover {
        transform: scale(1.1);
    }
.texto-quiz{
        text-align: center;
        font-family: 'Roboto Slab';
        font-size: 40px;
    }
.respuestas-quiz{
        text-align: center;
        font-family: 'Roboto Slab';
        font-size: 20px;
        transition: transform 0.3s ease-in-out;
        

    }
.respuestas-quiz:hover {
        transform: scale(1.1);
    }
.imagen-correcto {
        width: 300px;
        height: auto;
        transition: transform 0.3s ease-in-out;
        margin-bottom: 50px;
    }
    
li{
font-size: 20px;
font-family: 'Roboto Slab';
list-style-type:none;
text-decoration: none;
transition: transform 0.3s ease-in-out;
}

li:hover {
        transform: scale(1.03);
        color: rgb(202, 111, 30);
    }



aside{
    background-color: #1C3333;
    display: inline-block;
    width: 19%;
    height: 900px;
    border-radius: 20px;
    margin: 5px;
    border: solid 1px black;

}

.section1{
    background-color: rgb(28, 40, 51);
    display: inline-block;
    width: 79.47%;
    height: 900px;
    vertical-align: top;
    
}

.botones{
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
    background-color: orange;
   
    
    
}

.botoneslaterales{
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
    background-color: gray;
    margin-top: 40px;
    gap: 10px;
    display: flex;
    justify-content: center;

}

.menu{
    margin-top: 25px;
}

nav ul li{
display: inline;
gap: 20px;
}

.textoMenu{
text-decoration: none;
color: aliceblue;
}

.imagen-cds{
border: solid 5px rgb(202, 111, 30);
width: 250px;
height: auto;
transition: transform 0.3s ease-in-out;
}
.imagen-cds:hover {
    transform: scale(1.1);
}

.contenedor-imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    gap: 40px
}

.fila-superior {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.fila-inferior {
    display: flex;
    justify-content: center;
}

.imagen-con-texto {
    text-align: center;
}



